.header{
  background-color: #f5f5f5;
  padding-left: 10px;
  padding-right: 10px;
}
.header img{
  width: 10%;
}
.user{
  text-align: center;
  margin-top: 10px;
}
.form{
  padding: 10px;
  z-index: 1;
  background-color:#e6e6e6 ;
  position: fixed;
  bottom: 0;
  width: 99%;
  margin:10px; 
 
}
.form_control{
  display: flex !important;
  flex-direction: row !important;
}
.inputfield{
  flex: 1;
}
.FlipMove{
  position: relative !important;
}