.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message_user{
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    width: fit-content;
    text-align: left !important;
}

.message_usercard{
    background-color: #5775fa !important;
    color: white !important;
}

.message_other{
    background-color: #f5f5f5 !important;
}
.users{
    color: #eb734b !important;
}